body {
	padding: 0;
	margin: 0;
}
#scaleLengthTable {
	text-align: center;
	font-size: 125%;
	background-color: #2196f3;
	display: inline-block;
	font-family: Garamond, serif;
	font-weight: bold;
}

#scaleLengthTable > tr > th {
	font-size: 135%;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
}

#scaleLengthTable > tr > td {
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
}