* {
	padding: 0;
	margin: 0;
}

header {
	background-color: #0A3410;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-family: Garamond, serif;
}

#step1 {
	background-color: ;
}

#scaleLengthTable {
	text-align: center;
	font-size: 125%;
	font-family: Garamond, serif;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#scaleLengthTable > tr > th {
	font-size: 135%;
}

#scaleLengthTable > tr:nth-child(odd) {
	background-color: lightgray;
}

#scaleLengthTable > tr:nth-child(even) {
	background-color: white;
}
